<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=G:\Projects\GitDB\SeleniumInAction\TargetMvcApplication\App_Data\Database.mdf;Integrated Security=True;User Instance=True;"/>
  </connectionStrings>
</configuration>