@model IEnumerable<Domain.Class>

@{
    ViewBag.Title = "班级列表";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>班级列表</h2>
@Html.ActionLink("创建","Create")
<br/>
@foreach (var sclass in Model)
{
    <p>@sclass.Id @sclass.Name @Html.ActionLink("班级详情","Details",new {id=sclass.Id},null)</p>
}